$site-width : 1057;
$color-background-main: #f6f6f6;
$color-background-secondary: black;
$color-text-secondary: white;
$color-accent-main: #53BB9F;
$color-text-grey: #666666;
$color-background-grey: #f1f1f1;
$color-background-price: #f9f9f9;
$color-text-light: #d1d1d1; 
$color-background-pricelist: #e4e4e4;

$column-size: 335px;
$border-radius : 6px;
$default-margin : 25px;

$contact-form-height: 375px;
$contact-form-inputheight: 66px;

$font: 'Raleway','Montserrat', sans-serif;